<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rails i18n</string>
	<key>uuid</key>
	<string>EC798126-F527-4D70-A8BA-317A7E735489</string>
</dict>
</plist>
